.main-10 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 30px;
    margin-top: 480px;
  }
  .sub-1 h1 {
    font-size: 35px;
    font-weight: 500;
    line-height: 40px;
}
  .sub-2 p{
    font-size: 18px;
    font-weight: 500;
}
.left-10 {
    order: 2;
    width: 390px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.right-10 img {
    order: 1;
    width: 650px;
    height: 350px;
    border-radius: 8px;
}
.sub8 a{
    text-decoration: none;
    color: #4189b9;
    font-weight: 600;
  }