.box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 50px 0px;
    flex-wrap: wrap;
}
.boxer1{
    width: 229px;
    height: 175px;
    padding: 20px;
}
.boxer1 h1{
    font-size: 16px;
}
.sub6 a{
    text-decoration: none;
    color: #4189b9;
    font-weight: 600;
  }